# Node.js + Vite
node_modules/
dist/
.vite/
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Python (translate.py окружение)
translate_env/
*.pyc
__pycache__/

# VS Code — исключаем всё, кроме настроек расширений
.vscode/*
!.vscode/extensions.json

# GitHub Actions / временные билды
*.log

# Локальные приватные файлы
secret.*
*.bak
*.tmp

# Бинарники
*.exe
*.dll
*.iso
